In [14]:
!pip install lightgbm

from sklearn.model_selection import train_test_split
import pickle
import pandas as pd
import lightgbm as lgb
import re

train_data = pd.read_csv('/home/lakshmi/Desktop/lakshmi/Ali/fastapi/new_train_clean_data.csv')

df = train_data.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x))

x = df.drop(columns = ['TARGET','Unnamed0'])
y = df['TARGET']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,random_state=42)

lgb = lgb.LGBMClassifier(class_weight='balanced',n_estimators=300,learning_rate=0.05)
lgb.fit(x_train, y_train)

pickle.dump(lgb, open('lgbmodel.pkl', 'wb'))

Requirement already satisfied: lightgbm in /home/lakshmi/anaconda3/lib/python3.9/site-packages (3.3.2)
Requirement already satisfied: wheel in /home/lakshmi/anaconda3/lib/python3.9/site-packages (from lightgbm) (0.37.0)
Requirement already satisfied: numpy in /home/lakshmi/anaconda3/lib/python3.9/site-packages (from lightgbm) (1.22.3)
Requirement already satisfied: scikit-learn!=0.22.0 in /home/lakshmi/anaconda3/lib/python3.9/site-packages (from lightgbm) (1.0.2)
Requirement already satisfied: scipy in /home/lakshmi/anaconda3/lib/python3.9/site-packages (from lightgbm) (1.8.0)
Requirement already satisfied: joblib>=0.11 in /home/lakshmi/anaconda3/lib/python3.9/site-packages (from scikit-learn!=0.22.0->lightgbm) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/lakshmi/anaconda3/lib/python3.9/site-packages (from scikit-learn!=0.22.0->lightgbm) (2.2.0)

In [13]:
df.head()

,Unnamed0,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY_x,...,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,SELLERPLACE_AREA,CNT_PAYMENT,NAME_YIELD_GROUP,AMT_CREDIT_PERCENT,AMT_APPLICATION_PERCENT,AMT_GOODS_PRICE_PERCENT
0,0,1,0,1,0,1,0,202500.0,406597.5,24700.5,...,0.000000,25.000000,3.000000,0.000000,500.000000,24.000000,3.000000,2.007889,2.270797,2.270797
1,1,0,0,0,0,0,0,270000.0,1293502.5,35698.5,...,1.333333,15.000000,2.666667,0.666667,533.000000,10.000000,3.666667,4.790750,2.970588,2.970588
2,2,0,1,1,1,1,0,67500.0,135000.0,6750.0,...,0.000000,19.000000,3.000000,0.000000,30.000000,4.000000,4.000000,2.000000,5.559674,5.559674
3,3,0,0,0,0,1,0,135000.0,312682.5,29686.5,...,1.777778,21.888889,2.666667,0.888889,894.222222,23.000000,1.333333,2.316167,1.148710,0.765806
4,4,0,0,1,0,1,0,121500.0,513000.0,21865.5,...,1.666667,18.666667,2.333333,1.166667,409.166667,20.666667,2.500000,4.222222,3.407953,3.407953

In [3]:
df.shape

(307511, 75)